---
layout: libdoc/blank
stories:
    -   name: D A R K
        link_text: © D A R K
        link_url: https://www.netflix.com/fr/title/80100172
        scenes:
            -   id: adam_a
                amount: 87
            -   id: blast
                amount: 34
            -   id: blockhaus_a
                amount: 79
            -   id: blockhaus_b
                amount: 99
            -   id: centrale_a
                amount: 145
            -   id: claudia_futur_a
                amount: 60
            -   id: claudia_futur_b
                amount: 141
            -   id: drone_a
                amount: 182
            -   id: eglise
                amount: 67
            -   id: foret_noa
                amount: 129
            -   id: grottes_a
                amount: 98
            -   id: grottes_b
                amount: 43
            -   id: grottes_c
                amount: 129
            -   id: machine_a
                amount: 40
            -   id: machine_b
                amount: 75
            -   id: machine_c
                amount: 101
            -   id: marta
                amount: 101
            -   id: newspaper_mikkel
                amount: 74
            -   id: opening_credits_a
                amount: 27
            -   id: opening_credits_b
                amount: 63
            -   id: opening_credits_c
                amount: 65
            -   id: opening_credits_d
                amount: 81
            -   id: opening_credits_e
                amount: 100
            -   id: opening_credits_f
                amount: 44
            -   id: opening_credits_g
                amount: 60
            -   id: opening_credits_h
                amount: 143
            -   id: opening_credits_i
                amount: 64
            -   id: opening_credits_j
                amount: 66
            -   id: opening_credits_k
                amount: 194
            -   id: opening_credits_l
                amount: 64
            -   id: opening_credits_m
                amount: 60
            -   id: opening_credits_n
                amount: 154
            -   id: opening_credits_o
                amount: 68
            -   id: opening_credits_p
                amount: 66
            -   id: opening_credits_q
                amount: 65
            -   id: opening_credits_r
                amount: 100
            -   id: opening_credits_s
                amount: 43
            -   id: opening_credits_t
                amount: 52
            -   id: opening_credits_u
                amount: 109
            -   id: opening_credits_v
                amount: 155
            -   id: particles_a
                amount: 99
            -   id: particles_b
                amount: 101
            -   id: particles_c
                amount: 57
            -   id: particles_d
                amount: 54
            -   id: particles_e
                amount: 96
            -   id: portraits
                amount: 48
            -   id: route_a
                amount: 74
            -   id: route_b
                amount: 68
            -   id: route_c
                amount: 79
            -   id: sablier
                amount: 92
            -   id: sic_mundus_tattoo
                amount: 44
            -   id: st_christophe_a
                amount: 90
            -   id: st_christophe_b
                amount: 133
            -   id: st_christophe_c
                amount: 69
            -   id: tannhaus_book
                amount: 56
            -   id: tannhaus_machine_a
                amount: 210
            -   id: wormhole_a
                amount: 73
            -   id: wormhole_b
                amount: 89
            -   id: wormhole_c
                amount: 88
    -   name: La Casa de Papel
        link_text: © La Casa de Papel
        link_url: https://www.antena3.com/series/casa-de-papel/
        scenes:
            -   id: casa_credit_albamiguel
                amount: 74
            -   id: casa_credit_alex
                amount: 79
            -   id: casa_credit_alvaro
                amount: 58
            -   id: casa_credit_beretta
                amount: 59
            -   id: casa_credit_cristina
                amount: 59
            -   id: casa_credit_esther
                amount: 56
            -   id: casa_credit_executives
                amount: 24
            -   id: casa_credit_final
                amount: 180
            -   id: casa_credit_itziar
                amount: 77
            -   id: casa_credit_migue
                amount: 59
            -   id: casa_credit_pacopedro
                amount: 99
            -   id: casa_credit_ursula
                amount: 54
            -   id: casa_credit_ykiti
                amount: 38
            -   id: casa_rio_1
                amount: 88
            -   id: casa_rio_2
                amount: 41
            -   id: casa_rio_3
                amount: 38
            -   id: casa_rio_4
                amount: 201
            -   id: casa_tokyo_1
                amount: 31
            -   id: casa_tokyo_2
                amount: 36
            -   id: casa_tokyo_3
                amount: 34
            -   id: casa_tokyo_4
                amount: 81
    -   name: The Matrix
        link_text: © The Matrix
        link_url: https://www.warnerbros.com/movies/matrix
        scenes:
            -   id: matrix_blue_pill
                amount: 79
            -   id: matrix_bullet_time_a
                amount: 60
            -   id: matrix_bullet_time_b
                amount: 197
            -   id: matrix_bullets_sockets
                amount: 14
            -   id: matrix_children_magic
                amount: 63
            -   id: matrix_deja_vu
                amount: 80
            -   id: matrix_end_credits
                amount: 284
            -   id: matrix_fire_a
                amount: 228
            -   id: matrix_keanu_reeves
                amount: 49
            -   id: matrix_matrix_full
                amount: 20
            -   id: matrix_matrix_full_alt
                amount: 73
            -   id: matrix_matrix_system_failure
                amount: 228
            -   id: matrix_morpheus_come_on
                amount: 24
            -   id: matrix_morpheus_energy
                amount: 64
            -   id: matrix_morpheus_neo_crowd_a
                amount: 154
            -   id: matrix_morpheus_neo_crowd_b
                amount: 65
            -   id: matrix_morpheus_running_out
                amount: 73
            -   id: matrix_morpheus_smith_a
                amount: 103
            -   id: matrix_neo_arrested
                amount: 95
            -   id: matrix_neo_bullets_down
                amount: 44
            -   id: matrix_neo_come_on
                amount: 34
            -   id: matrix_neo_flying
                amount: 49
            -   id: matrix_neo_fusioning_smith
                amount: 46
            -   id: matrix_neo_grabbing_bullet
                amount: 25
            -   id: matrix_neo_grabbing_bullets
                amount: 109
            -   id: matrix_neo_looks_up
                amount: 64
            -   id: matrix_neo_matrix_smiths
                amount: 85
            -   id: matrix_neo_morpheus_a
                amount: 55
            -   id: matrix_neo_opening_eyes
                amount: 46
            -   id: matrix_neo_questioning
                amount: 69
            -   id: matrix_neo_smith_subway_a
                amount: 110
            -   id: matrix_neo_spoon
                amount: 43
            -   id: matrix_neo_stopping_bullets
                amount: 225
            -   id: matrix_phone
                amount: 120
            -   id: matrix_pills_a
                amount: 81
            -   id: matrix_pills_b
                amount: 125
            -   id: matrix_rain_car
                amount: 68
            -   id: matrix_rain_car_b
                amount: 48
            -   id: matrix_smith_half_turn
                amount: 77
            -   id: matrix_stairs_a
                amount: 161
            -   id: matrix_trinity_hanging_explosion
                amount: 83
            -   id: matter_a
                amount: 53
            -   id: matter_b
                amount: 109
            -   id: matter_c
                amount: 47
            -   id: matter_d
                amount: 93
            -   id: matter_e
                amount: 95
            -   id: matter_f
                amount: 137
            -   id: matter_g
                amount: 151
            -   id: matter_h
                amount: 87
            -   id: matter_i
                amount: 114
            -   id: matter_j
                amount: 68
            -   id: matter_k
                amount: 56
            -   id: matter_l
                amount: 171
            -   id: matter_m
                amount: 84
            -   id: matter_n
                amount: 113
    -   name: Harry Potter
        link_text: © Harry Potter
        link_url: https://www.warnerbros.com/movies/harry-potter-complete-8-film-collection
        scenes:
            -   id: harry_potter_hogwarts_dementors_a
                amount: 175
            -   id: hp_clock_clouds
                amount: 124
            -   id: hp_dementor_opening_door
                amount: 162
            -   id: hp_diagon_alley
                amount: 128
            -   id: hp_door
                amount: 76
            -   id: hp_drago_severus
                amount: 96
            -   id: hp_dumbledore_falling
                amount: 81
            -   id: hp_empty_broken_great_hall
                amount: 114
            -   id: hp_flower_hand
                amount: 75
            -   id: hp_flying_hats
                amount: 139
            -   id: hp_great_hall_fire_goblet
                amount: 172
            -   id: hp_great_hall_halloween
                amount: 227
            -   id: hp_great_hall_snow_ceiling
                amount: 148
            -   id: hp_guardians
                amount: 108
            -   id: hp_harry_dumbledore
                amount: 122
            -   id: hp_harry_voldemort
                amount: 142
            -   id: hp_hogwarts_dementors_b
                amount: 159
            -   id: hp_hogwarts_express
                amount: 132
            -   id: hp_hogwarts_express_hagrid
                amount: 274
            -   id: hp_hogwarts_night
                amount: 298
            -   id: hp_hogwarts_protection
                amount: 124
            -   id: hp_hogwarts_protection_fail
                amount: 87
            -   id: hp_hogwarts_scenery
                amount: 81
            -   id: hp_hogwarts_snow_day
                amount: 128
            -   id: hp_hogwarts_stairs
                amount: 104
            -   id: hp_hogwarts_sunset
                amount: 70
            -   id: hp_hogwarts_thunder
                amount: 49
            -   id: hp_hogwarts_under_attack
                amount: 269
            -   id: hp_hogwarts_under_attack_b
                amount: 66
            -   id: hp_opening_credits_azkaban
                amount: 205
            -   id: hp_opening_credits_goblet
                amount: 370
            -   id: hp_opening_credits_hallows_a
                amount: 268
            -   id: hp_opening_credits_hallows_b
                amount: 268
            -   id: hp_opening_credits_phenix
                amount: 370
            -   id: hp_opening_credits_prince
                amount: 309
            -   id: hp_opening_credits_secrets
                amount: 259
            -   id: hp_opening_credits_stone
                amount: 118
            -   id: hp_pensieve
                amount: 54
            -   id: hp_pensieve_ink
                amount: 143
            -   id: hp_quidditch_stadium
                amount: 122
            -   id: hp_severus_back
                amount: 43
            -   id: hp_severus_minerva
                amount: 15
            -   id: hp_severus_patronus_a
                amount: 108
            -   id: hp_severus_patronus_b
                amount: 160
            -   id: hp_severus_transportation
                amount: 42
            -   id: hp_slughorn_stealing
                amount: 97
            -   id: hp_stained_glass
                amount: 59
            -   id: hp_students_on_boats
                amount: 148
            -   id: hp_voldemort_hogwarts_attack
                amount: 30
            -   id: hp_voldemort_hogwarts_attack_b
                amount: 52
            -   id: hp_voldemort_terminated
                amount: 578
            -   id: hp_walking_great_hall
                amount: 124
            -   id: hp_wand_choice
                amount: 100
            -   id: hp_wand_thunder
                amount: 16
            -   id: hp_wands_up
                amount: 84
            -   id: hp_whomping_willow_hogwarts
                amount: 168
            -   id: hp_whomping_willow_hogwarts_bird
                amount: 184
            -   id: hp_whomping_willow_hogwarts_winter
                amount: 152
            -   id: hp_wisley_fireworks
                amount: 73
    -   name: Mad Max Fury Road
        link_text: © Mad Max Fury Road
        link_url: https://www.warnerbros.com/movies/mad-max-fury-road
        scenes:
            -   id: mad_max_fury_road_opening_scene_a
                amount: 63
    -   name: Jaws
        link_text: © Jaws
        link_url: https://www.imdb.com/title/tt0073195/
        scenes:
            -   id: jaws_dolly_zoom
                amount: 55
---
{% for story in page.stories %}
## {{story.name}}
[{{story.link_text}}]({{story.link_url}}) 
{% for scene in story.scenes %}
[{{scene.id}} | {{scene.amount}} frames](https://olivier3lanc.github.io/folio-cinematics/scene.html?scene={{scene.id}}&amount={{scene.amount}})
[![{{scene.id}}](https://images.weserv.nl/?url=https://olivier3lanc.github.io/cinematics-resources/{{scene.id}}/{{scene.id}}_1.webp&output=webp&w=1400&q=30)](https://olivier3lanc.github.io/folio-cinematics/scene.html?scene={{scene.id}}&amount={{scene.amount}})
{% endfor %}
{% endfor %}